html {
    height: 100vh;
    font-family: 'roboto', 'sans-serif';
  }
  
  body {
    height: 500vh;
    background: #000;
  }
  
  canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
  }

  .blankers {
    color: white;
    z-index: 100;
    position: absolute;
    top: 20;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .logo {
    font-size: 48px;
  }

  .nav {
    color: #d8d8d8;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
  }

  .nav-item {
    transition: all;
    transition-duration: .4s;
    padding: 4px 16px;
    border-radius: 25px;
  }

  .nav-item:hover{
    color: white;
    cursor: pointer;
    background: white;
    color: #111;
  }